* {
    margin: 0;
    padding: 0;
    letter-spacing: .5px;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    outline: none;
    word-break: break-all;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    --fontColor: #58c4c7
}

*::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
}

*::-webkit-scrollbar-track {
    border-radius: 0;
    background: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 425px) {
    * {
        font-size: .9rem;
    }
}

body,
html {
    min-width: 310px;
    height: 100%;
    scroll-behavior: smooth;
    background-color: black;
}

a {
    text-decoration: underline var(--fontColor);
    color: var(--fontColor);
}

a:hover {
    color: #2a787a;
}

[v-cloak] {
    display: none;
}

/* 统一过渡 */
a,
#soBox,
.soBoxtext,
.soBoxtext .rightIcon,
.soImg,
.soBoxlist,
.soSelectList,
.soSelect,
.optionIcon,
.el-icon-setting,
.closeTab,
.footer {
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

/* 主体框架 */
#Search {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

/* 背景图 */
.bingBg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

/* 背景聚焦 */
.bingBgBlack {
    opacity: .5;
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
}

/* 搜索框架 */
#soBox {
    width: 50%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    overflow: hidden;
}

.soBoxtop {
    top: 15% !important;
}

/* 搜索框 */
.soBoxtext {
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    opacity: .5;
    overflow: hidden;
}

#soBoxtext {
    width: 75%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 65px;
    font-size: 1.1rem;
    line-height: 50px;
    background-color: transparent;
}

/* 搜索框聚焦 */
.soBoxtextFocus {
    opacity: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

/* 搜索框图标 */
.soBoxtext .rightIcon {
    width: 50px;
    height: 50px;
    font-size: 1.3rem;
    position: absolute;
    right: 10px;
    line-height: 50px;
    color: black;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* 搜索引擎图标 */
.soImg {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
}

.soImg img {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.soBoxtext .rightIcon:hover,
.soImg:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

/* 搜索结果 */
.soBoxlist {
    width: 100%;
    height: 0;
    background-color: white;
    overflow: hidden;
    position: relative;
    top: 5px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: none;
}

/* 搜索结果显示 */
.soBoxlistShow {
    display: block;
}

/* 搜索结果列表 */
.soBoxlist li {
    list-style-type: none;
    width: 100%;
    line-height: 40px;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

.soBoxlist a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 30px;
}

.soBoxlist .active {
    background-color: rgb(230, 230, 230);
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

#soBox a {
    text-decoration: none;
    color: black;
}

/* 搜索引擎切换 */
.soSelectList {
    width: 90%;
    height: 0;
    background-color: white;
    position: relative;
    top: 5px;
    overflow: hidden;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    z-index: 10;
}

/* 搜索引擎切换显示 */
.soSelectListShow {
    opacity: 1;
    height: auto;
    padding: 10px 5%;
}

/* 搜索引擎小盒子 */
.soSelect {
    width: 50px;
    margin: 10px;
    cursor: pointer;
    text-align: center;
}

.soSelect:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.soSelect .active {
    font-weight: bold;
    font-size: 1rem;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    color: #349ca0;
}

.soSelect div>img {
    width: 30px;
    height: 30px;
}

.soSelect div>p {
    font-size: .9rem;
}

/* 增加搜索引擎按钮 */
.soSelectAdd,
.soSelectClose {
    font-size: 2rem;
    text-align: center;
    padding-top: 10px;
}

.el-form-item__content p {
    line-height: 20px;
}

.el-form-item__content p:nth-child(1) {
    font-weight: bold;
}

.el-dialog__body {
    padding-top: 0 !important;
}

/* 一言 */
#hitokoto {
    display: block;
    margin-top: 10px;
    color: white;
    text-shadow: 0 0 5px black;
    text-align: center;
}

/* 设置界面图标 */
.optionIcon {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 80px;
    left: 30px;
    cursor: pointer;
}

.optionIconNone {
    display: none;
}

.el-icon-setting {
    display: block;
    color: rgba(255, 255, 255, .4);
    font-size: 1.5rem;
}

.optionIcon:hover {
    transform: rotate(90deg) scale(1.1);
    -webkit-transform: rotate(90deg) scale(1.1);
    -moz-transform: rotate(90deg) scale(1.1);
    -ms-transform: rotate(90deg) scale(1.1);
    -o-transform: rotate(90deg) scale(1.1);
    background-color: rgba(0, 0, 0, .6);
}

.optionIcon:hover .el-icon-setting {
    color: white;
}

/* 设置界面关闭图标 */
.closeTab {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 2rem;
    cursor: pointer;
}

.closeTab:hover {
    transform: scale(1.1) rotate(90deg);
    -webkit-transform: scale(1.1) rotate(90deg);
    -moz-transform: scale(1.1) rotate(90deg);
    -ms-transform: scale(1.1) rotate(90deg);
    -o-transform: scale(1.1) rotate(90deg);
}

/* 侧边菜单 */
/* 框架样式修改 */
.el-drawer__body,
.el-tabs,
.el-tabs__content,
.el-tab-pane {
    background-color: rgb(245, 245, 245);
}

.el-tabs__header {
    width: 85%;
}

.el-drawer {
    min-width: 400px;
}

.el-tabs {
    padding: 20px;
    color: var(--fontColor);
}

.el-tabs__item {
    font-size: 1.2rem !important;
    font-weight: bold !important;
    box-shadow: none !important;
}

.el-tabs__item.is-active {
    color: var(--fontColor) !important;
}

.el-tabs__active-bar {
    color: var(--fontColor) !important;
    background-color: var(--fontColor) !important;
}

.el-tabs__item:hover {
    color: var(--fontColor) !important;
}

.el-drawer__body,
.el-tabs,
.el-tabs__content,
.el-tab-pane {
    padding-bottom: 100px;
}

/* 选项区块 */
.tabBox {
    padding: 10px;
    margin: 20px 0;
    background-color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.tabBox .h1 {
    font-size: 1.2rem;
    border-left: 3px solid var(--fontColor);
    padding: 5px 0 5px 15px;
    margin: 10px 0;
}

.tabBox .tools {
    margin: 10px 0;
}

.tabBox .el-input-number {
    width: 100px;
}

.tools>.el-input {
    margin: 5px 0;
}

.el-button {
    background-color: var(--fontColor) !important;
    border: none !important;
    margin: 10px 10px 0 0 !important;
}

/* 更新日志 */
.updataInfo ul {
    padding-left: 30px;
}

.updataInfo .text>div {
    margin: 20px 0;
}

/* 底部版权 */
.footer {
    width: 100%;
    position: absolute;
    bottom: 5%;
    color: white;
    font-size: .5rem;
    text-shadow: 0 0 5px black;
    text-align: center;
    opacity: .6;
    z-index: 1;
    overflow: hidden;
}

.footerNone {
    display: none;
}

/* 左侧版权 */
.footer>div {
    width: 90%;
    margin: 0 auto;
}

.footer p {
    display: inline-block;
    padding: 0 5px;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer:hover {
    opacity: 1;
}

.footer a:hover {
    color: var(--fontColor);
}

/* 网站分类 */
/* 打开按钮 */
.openAppList {
    width: 100%;
    height: 130px;
    background: linear-gradient(to top, black, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0) 100%);
    font-size: 2.3rem;
    position: absolute;
    bottom: 3%;
    color: white;
    cursor: pointer;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.openAppList i {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 20%;
    animation: openApp 1s ease-in-out infinite;
    -webkit-animation: openApp 1s ease-in-out infinite;
    font-size: 2.3rem;
}

.openAppListShow {
    height: 0 !important;
}

@keyframes openApp {
    0% {
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        opacity: 0;
    }

    50% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
        opacity: 0;
    }
}

/* 网站列表 */
.appList {
    width: 85%;
    height: 60%;
    position: absolute;
    bottom: 4%;
    left: 50%;
    color: white;
    z-index: 2;
    overflow: hidden;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transform: translate(-50%, 100%);
    -webkit-transform: translate(-50%, 100%);
    -moz-transform: translate(-50%, 100%);
    -ms-transform: translate(-50%, 100%);
    -o-transform: translate(-50%, 100%);
}

.appListShow {
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
}

/* 毛玻璃背景 */
.appListBg {
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
}

/* 关闭按钮 */
.closeAppList {
    width: 100%;
    height: 10%;
    text-align: center;
    position: relative;
    top: 0;
    cursor: pointer;
    z-index: 2;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.closeAppList:hover {
    font-size: 2.5rem;
}

.closeAppList i {
    font-size: 2.3rem;
}

.closeAppListShadow {
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

/* 分类菜单 */
.appListMenu {
    width: 18%;
    min-width: 100px;
    height: 85%;
    position: absolute;
    bottom: 5%;
    left: 0;
    overflow-y: scroll;
    text-align: center;
}

.appListMenu>p {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.appListMenu>div {
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-size: .9rem;
    cursor: pointer;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.appListMenu>div:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    background-color: rgba(0, 0, 0, .3);
}

/* 分类框架 */
.appListBox {
    width: 80%;
    height: 85%;
    position: absolute;
    bottom: 5%;
    right: 0;
    overflow-y: scroll;
}

/* 各种分类 */
.appListClass {
    width: 100%;
    position: relative;
    z-index: 1;
    margin: 20px 0;
}

/* 分类标题 */
.appListClassTitle {
    width: 30%;
    font-size: 1.2rem;
    padding: 0 0 10px 30px;
    border-bottom: 2px solid rgba(255, 255, 255, .5);
}

/* 网站框架 */
.appListClassBox {
    width: 100%;
    flex-wrap: wrap;
    color: black;
    display: flex;
    flex-wrap: wrap;
}

/* 网站盒子 */
.appListClassList {
    width: 80px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 15px 10px;
    text-align: center;
    padding: 5px 10px;
    color: white;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    cursor: pointer;
}

.appListClassList:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    background-color: rgba(0, 0, 0, .3);
}

.appListClassList a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.appListClassList img {
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.appListClassList .el-tooltip>p:nth-child(2) {
    color: white;
    text-shadow: 0 0 3px rgba(0, 0, 0, .3);
    font-size: .6rem;
}

.appListClassList .el-tooltip>p:nth-child(3) {
    font-size: .3rem;
    color: rgb(209, 209, 209);
    display: -webkit-box;
    display: -moz-box;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

/* 撑开分类底部 */
.Boom {
    width: 100%;
    height: 50%;
    text-align: center;
    padding: 50px 0;
}

.el-drawer__body,
.el-tabs,
.el-tabs__content,
.el-tab-pane {
    height: 100%;
}

.el-tab-pane {
    overflow-y: scroll;
}

/* 自适应 */
@media screen and (max-width: 980px) {
    .el-dialog {
        width: 50% !important;
    }

    #soBox {
        width: 70%;
    }
}

@media screen and (max-width: 650px) {
    .el-dialog {
        width: 70% !important;
    }

    #soBox {
        width: 80%;
    }

    .openAppList {
        height: 150px;
    }

    .appListClassTitle {
        width: 50%;
        padding: 0 0 10px 10px;
    }

    .appListBg {
        background-color: rgba(0, 0, 0, .5);
    }

    .appListBox {
        width: 70%;
    }
}

@media screen and (max-width: 425px) {
    #soBox {
        width: 80%;
        top: 25%;
    }

    .openAppList {
        height: 180px;
    }

    .el-drawer__open .el-drawer.ltr,
    .el-drawer__body {
        width: 100% !important;
        min-width: 0;
    }

    .el-tabs__item {
        padding: 0 10px;
    }

    .el-tabs__header {
        width: 75%;
    }

    .appListClassList {
        margin: 10px 0;
        padding: 5px 5px;
    }

    .appListMenu {
        min-width: 25%;
    }

    .appListMenu>p {
        font-size: 1rem;
    }

    .appListMenu>div {
        font-size: .8rem;
    }

    .appList {
        width: 90%;
    }

    .appListBox {
        width: 70%;
    }

    .footer p,
    .footer a {
        font-size: .8rem;
    }
}