* {
    margin: 0;
    padding: 0;
    -moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    letter-spacing: .5px;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    outline: none;
}

body,
html {
    height: 100%;
    scroll-behavior: smooth;
    background-color: black;
}

a {
    text-decoration: underline #58c4c7;
    color: #58c4c7;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

a:hover {
    color: #2a787a;
}

/* 主体框架 */
#Search {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

/* 背景图 */
.bingBg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.bingBgBlack {
    opacity: .5;
    filter: blur(1px);
    -webkit-filter: blur(1px);
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

/* 搜索框架 */
#soBox {
    width: 50%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

/* 搜索框 */
.soBoxtext {
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    opacity: .5;
    overflow: hidden;
}

#soBoxtext {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 40px;
    font-size: 1.1rem;
    line-height: 50px;
    background-color: transparent;
}

.soBoxtextFocus {
    opacity: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.soBoxtext>i {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    position: absolute;
    right: 10px;
    line-height: 50px;
    color: black;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.soBoxtext>i:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

/* 搜索结果 */
.soBoxlist {
    width: 100%;
    height: 0;
    background-color: white;
    overflow: hidden;
    position: relative;
    top: 5px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    opacity: 0;
}

.soBoxlistShow {
    opacity: 1;
}

#soBoxlist li {
    width: 100%;
    line-height: 40px;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

#soBoxlist li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 30px;
}

#soBoxlist li:hover {
    background-color: rgb(230, 230, 230);
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

#soBox a {
    text-decoration: none;
    color: black;
}

/* 一言 */
#hitokoto {
    display: block;
    margin-top: 10px;
    color: white;
    text-shadow: 0 0 5px black;
    text-align: center;
}

/* 设置图标 */
.optionIcon {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, .3);
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
    left: 30px;
    cursor: pointer;
}

.el-icon-setting {
    display: block;
    color: rgba(255, 255, 255, .4);
    font-size: 1.5rem;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.optionIcon:hover {
    transform: rotate(90deg) scale(1.1);
    -webkit-transform: rotate(90deg) scale(1.1);
    -moz-transform: rotate(90deg) scale(1.1);
    -ms-transform: rotate(90deg) scale(1.1);
    -o-transform: rotate(90deg) scale(1.1);
    background-color: rgba(0, 0, 0, .6);
}

.optionIcon:hover .el-icon-setting {
    color: white;
}

/* 侧边菜单 */
.el-drawer {
    min-width: 400px;
    background-color: rgb(233, 233, 233);
}

.el-tabs {
    padding: 20px;
    color: #58c4c7;
}

.el-tabs__item {
    font-size: 1.2rem !important;
    font-weight: bold !important;
    box-shadow: none !important;
}

.el-tabs__item.is-active {
    color: #58c4c7 !important;
}

.el-tabs__active-bar {
    color: #58c4c7 !important;
    background-color: #58c4c7 !important;
}

.el-tabs__item:hover {
    color: #58c4c7 !important;
}

.tabBox {
    padding: 10px;
    margin: 20px 0;
    background-color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.tabBox .h1 {
    font-size: 1.1rem;
    border-left: 3px solid #58c4c7;
    padding-left: 10px;
    margin: 10px 0;
}

.tabBox .tools {
    margin: 10px 0;
}

.tabBox .el-input-number {
    width: 100px;
}

.tools>.el-input {
    margin: 5px 0;
}

.tabBox .el-button {
    background-color: #58c4c7;
    border: none;
    margin: 10px 10px 0 0;
}

/* 更新日志 */
.updataInfo ul {
    padding-left: 30px;
}

.updataInfo .text>div {
    margin: 20px 0;
}