<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IceCream</title>
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.14.1/theme-chalk/index.min.css" rel="stylesheet">
</head>

<body>
    <!-- 主体框架 -->
    <div id="Search">

        <!-- Bing今日壁纸 -->
        <div class="bingBg"></div>

        <!-- 初始化询问 -->
        <el-dialog title="提示" :visible.sync="initDialog" width="40%">
            <span>是否允许我们将您的设置文件存入到 localStorage(本地缓存)，这将获得完美的体验</span>
            <span slot="footer" class="dialog-footer">
                <el-button @click="initDialogClose(false)">取 消</el-button>
                <el-button type="primary" @click="initDialogClose(true)">确 定</el-button>
            </span>
        </el-dialog>

        <!-- 搜索框 -->
        <div id="soBox">
            <!-- 主体框框 -->
            <div class="soBoxtext">
                <i class="el-icon-search"></i>
                <input type="text" id="soBoxtext" v-model="soBoxtext" placeholder="输入并搜索..." @focus="SoFocus(true)"
                    @blur="SoFocus(false)" @keyup="SoChange($event)">
            </div>
            <!-- 搜索结果 -->
            <div class="soBoxlist">
                <ul id="soBoxlist"></ul>
            </div>

            <!-- 一言 -->
            <p id="hitokoto">:D 获取中...</p>

            <!-- <iframe scrolling="no" src="https://tianqiapi.com/api.php?style=tv&skin=pitaya" frameborder="0" width="255" height="25" allowtransparency="true"></iframe> -->
        </div>

        <!-- 设置按钮 -->
        <div class="optionIcon" @click="leftBar = true">
            <i class="el-icon-setting"></i>
        </div>

        <!-- 侧边菜单 -->
        <el-drawer :visible.sync="leftBar" :with-header="false" direction="ltr">
            <el-tabs v-model="tabsActive">
                <el-tab-pane label="基本设置" name="option">
                    <div class="tabBox">
                        <p class="h1">本地存储</p>
                        <div class="text">
                            <p>将设置存储在本地</p>
                        </div>
                        <div class="tools">
                            <el-switch style="display: block" v-model="updateStorage" active-color="#13ce66"
                                @change="StorageStatus">
                            </el-switch>
                        </div>
                    </div>
                    <div class="tabBox">
                        <p class="h1">搜索框</p>
                        <div class="text">
                            <p>搜索结果显示的数量（1 - 10）</p>
                        </div>
                        <div class="tools">
                            <el-input-number v-model="soBoxlistShowNum" controls-position="right"
                                @change="soBoxlistUpdate($event)" :min="0" :max="10"></el-input-number>
                        </div>
                    </div>
                    <div class="tabBox">
                        <p class="h1">背景图片</p>
                        <div class="text">
                            <p>背景图片外链：</p>
                            <p>允许上传网络图片，网络地址需为图片真实地址</p>
                        </div>
                        <div class="tools">
                            <el-input v-model="bgLink" placeholder="请输入图片链接" @change="setBgImg"></el-input>
                            <el-button type="primary" icon="el-icon-upload" @click="selectBgImg(1)">上传图片获取链接</el-button>
                            <el-button type="primary" icon="el-icon-refresh-right" @click="selectBgImg(2)">随机一张
                            </el-button>
                        </div>
                    </div>
                </el-tab-pane>
                <el-tab-pane label="关于" name="about">
                    <div class="tabBox">
                        <p class="h1">IceCream</p>
                        <div class="text">
                            <p>基于 Vue 与 ElementUI实现的导航，自带搜索功能以及各种实用网站导航，目前暂未完工，尽请期待...</p>
                        </div>
                    </div>
                    <div class="tabBox updataInfo">
                        <p class="h1">更新日志</p>
                        <div class="text">
                            <div>
                                <p>2020-12-22</p>
                                <ul>
                                    <li>搜索功能已完善</li>
                                    <li>搜索框右侧新增图标</li>
                                    <li>搜索框聚焦效果增加</li>
                                    <li>搜索结果动画增加</li>
                                    <li>背景切换修复</li>
                                    <li>背景接口失效会启用备用壁纸</li>
                                    <li>背景外链链接存储</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </el-tab-pane>
                <el-tab-pane label="待添加" name="load">待添加</el-tab-pane>
            </el-tabs>
        </el-drawer>
    </div>

    <!-- js引用 -->
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.9/vue.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.0/axios.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.14.1/index.min.js"></script>
    <script src="./js/wdnmd.js" type="module"></script>
    <script>
        // 百度搜索框回调
        function callback(data) {
            // li 高度
            let listHeight = 40;
            // 结果高度
            let resultHeight = 0;
            for (let i = 0; i < data.s.length; i++) {
                // 超过预定数量跳出
                if (i == JSON.parse(window.sessionStorage.getItem("IceCream")).soBoxlistShowNum) {
                    break;
                }
                // 结果 li 添加
                let oLi = document.createElement("li");
                oLi.innerHTML = "<a target='_blank' href=\"https://www.baidu.com/s?wd=" + data.s[i] + "\">" + data.s[
                    i] + "</a>";
                soBoxlist.appendChild(oLi);
                // 结果高度计算
                resultHeight += listHeight;
            }
            // 结果高度设置
            document.querySelector(".soBoxlist").style.height = resultHeight + "px";
        }
    </script>
</body>

</html>